@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hello-Graduation-Sans-Serif";
  src: url("/assets/fonts/Hello-Graduation-Sans-Serif.ttf");
}
@font-face {
  font-family: "Trap-Regular";
  src: url("/assets/fonts/Trap-Regular.otf");
}
@font-face {
  font-family: "Trap-Bold";
  src: url("/assets/fonts/Trap-Bold.otf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("/assets/fonts/Montserrat-Regular.ttf");
}

:root {
  --main: #88aaee;
  --overlay: rgba(
    0,
    0,
    0,
    0.8
  ); /* Background color overlay for alert dialogs, modals, etc. */

  --bg: #dfe5f2;
  --bw: #fff; /* White and secondary black e.g. utility class variant would be: bg-[#fff] dark:bg-[#212121] */
  --blank: #000; /* Blank black and white */
  --border: #000;
  --text: #000;
  --mtext: #000; /* Text that is placed on background with main color e.g. text color of default button */
  --ring: #000;
  --ring-offset: #fff;

  --border-radius: 4px;
  --box-shadow-x: 4px;
  --box-shadow-y: 4px;
  --reverse-box-shadow-x: -4px;
  --reverse-box-shadow-y: -4px;
  --base-font-weight: 500;
  --heading-font-weight: 700;

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
}

.dark {
  --bg: #272933;
  --bw: #212121;
  --blank: #fff;
  --border: #000;
  --text: #e6e6e6;
  --mtext: #000;
  --ring: #fff;
  --ring-offset: #000;

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  background-color: #232323;
}
